*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu{
    width: 70px;
    height: 65px;
    margin-top: 40px;   
    margin-left: 50px;
    background-color: rgb(166, 166, 166);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box{
    margin-top: 10px;
    display: flex;
}
.design{
    margin-top: 50px;
    margin-left: 100px;
}
.design1{
    margin-top: 50px;
    margin-left: 50px;
}
.grafik{
    margin-left: 10px;
    width: 100px;
}
.on{
    width: 50px;
    height: 40px;
    margin-top: 50px;
    margin-left: 900px;
}
.hi{
    color: rgb(164, 164, 164);
    text-align: center;
    margin-top: 100px;
}
.high{
    color: aqua;
    margin-left: 5px;
}
.mine{
    display: flex;
    font-size: 100px;
    margin-left: 300px;
    position: absolute;
    z-index: 1;
}
.mine1{
    display: flex;
    font-size: 100px;
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    z-index: 1;
}
.line{
    background-color: black;
    color: white;
    width: 60px;
    text-align: center;
    margin-top: 100px;
    margin-left: 1400px;;
    position: absolute;
    z-index: 2;
}
.navbar{
    margin-top: 30px;
}