.lamp{
    background-image: url("https://media.istockphoto.com/id/1150776990/vector/%C3%B0%C3%B0%C2%B5%C3%B0%C3%B1%C3%B0%C3%B1%C3%B0%C3%B0%C3%B1%C3%B0-2.jpg?s=612x612&w=0&k=20&c=J8qy9IxZ42caK1yDwu8Y9UNhX7fEhHVC-8A_WRXzKTA=");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}


.header{
    text-align: center;
}


.off-lamp{
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLCIVXe4FK9A1UCJefo15thbiu-qsWlnld9VCeH4vy43rnoLIS601RvKWRcDaTvszheZE&usqp=CAU");
     background-repeat: no-repeat;
     background-size: cover;
     width: 500xp;
     height: 500px;
     margin: 0 auto;
}