*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mir{
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./img/joy_stick\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 800px;
}

.start-1{
    padding-top: 30px;
    padding-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}
.logo{
    color: #fff;
    margin-top: 5px;
}
.about{
    margin-left: 50px;
}
a{
    color: #fff;
    margin-left: 90px;
    width: 90px;
    text-decoration: none;
}
.home{
    color: #fff;
    margin-left: 600px;
}
.contact{
    Width:131.77px;
    Height:41.34px;
    Top:44px;
    margin-left: 0px;
    border-radius: 6px;
    background-color: rgba(232, 125, 14, 1);
}


.h{
    margin-top: 150px;
    margin-left: 110px;
}
.text{
    display: flex;
}
.us{
    margin-top: 150px;
    margin-left: 10px;
    color: rgba(232, 125, 14, 1);
}
.lm{
    width:450px;
    margin-left: 110px;
    margin-top: 50px;
}
.lm1{
    margin-left: 110px;
    margin-top: 50px;
    width: 400px;
}

.get{
    background-color: rgba(250, 131, 5, 1);
    width: 176px;
    height: 47px;
    border-radius: 40px;
    margin-left: 110px;
    margin-top: 100px;
}
.arrow{
    margin-left: 20px;  
}
.start-2{
    display: flex;
}
.person{
    margin-top: 50px;
    margin-left:222px;
    position: absolute;
    z-index: 1;
}
.of{
    background-color: grey;
    width: 160px;
    height: 50px;
    padding-top: 15px;
    position: absolute;
    z-index: 2;
    margin-top: 656px;
    margin-left: 222px;
}
.ar{
    margin-left: 20px;
    margin-right: 20px;
}
.ar1{
    margin-left: 20px;
    margin-right: 20px;
}

.why{
    margin-left: 110px;
    margin-top: 300px;
}
.sect{
    background-color: rgba(28, 20, 15, 1);
    width: 378px;
    height: 348px;
    border-radius: 20px;
    margin-left: 110px;
    margin-top: 100px;
    padding-top: 50px;
}
.sect1{
    background-color: rgba(28, 20, 15, 1);
    width: 378px;
    height: 348px;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 100px;
    padding-top: 50px;
}
.lm2{
    width: 140px;
    height: 39px;
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 8px;
    text-align: center  ;
    background-color: rgba(176, 0, 220, 0.11);
}
.lm3{
    margin-left: 50px;
    margin-top: 20px;
}
.lm4{
        width: 304px;
        margin-left: 50px;
        margin-top: 50px;
}
.lm5{
    width: 140px;
    height: 39px;
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 8px;
    text-align: center  ;
    background-color: rgba(220, 66, 0, 0.11);
}
.lm6{
    width: 140px;
    height: 39px;
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 8px;
    text-align: center  ;
    background-color:rgba(0, 220, 141, 0.11);
}
.start-3{
    display: flex;
}

.start-4{
    display: flex;
    margin-top: 200px;
    padding-left: 100px;
    padding-top: 100px;
    background-color: rgba(28, 20, 15, 1);
}
.lm7{
    margin-left: 150px;
    width: 100px;
}
.lm8{
    width: 531px;
    margin-left: 150px;
    margin-top: 50px;
}
.lm9{
    margin-top: 50px;
    margin-left: 150px;
    width: 480px;
}





h1{
    margin-top: 200px;
    margin-left: 110px;
}
img{
    margin-left: 110px;
    margin-top: 100px;
}
.p{
    margin-left: 50px;
}
































.start-7{
    background-image: linear-gradient(black,rgba(74, 40, 0, 1));
    padding-bottom: 200px;
}
.lik{
    display: flex;
    margin-top: 100px;
    margin-left: 110px;
    background-color: rgba(28, 20, 15, 1);
    border-radius: 15px;
    width: 1250px;
}
.lore{
    width: 430px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.lorem1{
    margin-top: 100px;
    margin-left: 110px;
}
.lorem2{
    margin-top: 50px;
    margin-left: 110px;
    width: 500px;
}
.lore1{
    padding-top: 30px;
    margin-left: 50px;
    margin-top: 100px;
}
.cont{
    position: relative;
    z-index: 2;
    background-color: rgba(220, 112, 0, 1);
    width: 105px;
    height: 37px;
    border-radius: 8px;
    margin-left: 590px;
    margin-top: 155px;
}
.enter{
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 385px;
    height: 48px;
    border-radius: 8px;
    margin-left: 800px;
    margin-top: 150px;
}


.start-8{
    display: flex;
}
.logo1{
    margin-top: 100px;
    margin-left: 100px;
}
.logo2{
    margin-left: 100px;
    margin-top: 50px;
    width: 300px;
}
.logo3{
    margin-left: 100px;
    margin-top: 50px;
}



.about-us{
    margin-top: 100px;
    margin-left: 150px;
}
h3{
    margin-top: 20px;
    margin-left: 150px;
}
.zeux{
    margin-top: 30px;
}
.contact-us{
    margin-left: 150px;
    margin-top: 100px;
}
.contact-us1{
    margin-top: 30px;
    margin-left: 150px;
    width: 330px;
}
.num{
    margin-top: 60px;
}
.group{
    margin-top: 270px;
    margin-left: 50px;
}



.line{
    margin-left: 40px;
    margin-top: 50px;
}
h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.zxc{
    background-color: #000;
    color: #000;
}