*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.world{
    display: flex;
}

.logo{
    margin-left: 100px;
    width: 50px;
}

h4{
    margin-left: 50px;
    padding-top: 20px;
}
.icons{
    margin-left: 450px;
    width: 200px;
}



.box{
    position: relative;

}
.shoes{
    margin-top: 50px;
    margin-left: 350px;
    position: absolute;
    z-index: 2;
}
.shop{
    color: grey;
    font-size: 250px;
    margin-top: 180px;
    margin-left: 200px;
    position: absolute;
    z-index: 1;
}
.ad{
    font-size: 20px;
    margin-top: 130px;
    margin-left: 400px;
    position: absolute;
    z-index: 1;
}
.ad1{
    font-size: 20px;
    margin-top: 570px;
    margin-left: 1200px;
    position: absolute;
    z-index: 1;
}
.shado{
    margin-top: 560px;
    margin-left: 200px;
    position: absolute;
    z-index: 1;
}


.fake{
    display: flex;
}
.new{
    font-size: 20px;
    margin-top: 750px;
    margin-left: 100px;
    padding-top: 5px;
    padding-left: 7px;
    background-color: #4A4C6C;
    border:3px solid #7C7EA1;
    border-radius: 20px;
    width: 160px;
    height: 40px;
}
.trending{
    font-size: 20px;
    margin-top: 750px;
    margin-left: 50px;
    padding-top: 5px;
    padding-left: 8px;
    background-color: #77794E;
    border: 3px solid #9FA16D;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}






.real{
    margin-top: 100px;
    display: flex;
}

.real1{
    margin-top: 100px;
    display: flex;
}
.card{
    width: 235px;    
    background-color: grey;
    margin-left: 100px;
}
.sellect{
    margin-left: 40px;
}

.nav{
    position: relative;
    background-color: grey;
}
.nav1{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.nav2{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.nav3{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.nav4{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.nav5{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.nav6{
    width: 233px;
    height: 217px;
    position: relative;
    background-color: grey;
}
.sale{
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 2;
}
.heart{
    position: absolute;
    z-index: 2;
    width: 40px;
    margin-left: 190px;
}
.yulduz{
    width: 150px;
}

.cart{
    position: absolute;
    z-index: 2;
    margin-top: 177px;
    padding-top: 7px;
    padding-left: 60px;
    background-color: #000;
    width: 233px;
    height: 40px;
    color: #ffffff;
}
.line{
    margin-top: 150px;
}


.money{
    display: flex;
}
.dolor{
    color: red;
}






/* .naruto{
    display: flex;
} */




.navbar{
    position: relative;
}
.sasiska{
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    margin-top: 1100px;
}
.famous{
    position: absolute;
    z-index: 2;
    font-size: 35px;
    color: #ffffff;
    margin-left: 140px;
    margin-top: 1650px;
}


.shopline{
    position: absolute;
    z-index: 2;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 140px;
    margin-left: 140px;
    margin-top: 1800px;
}








.navbar1{
    margin-left: 550px;
    position: relative;
}
.sasiska1{
    position: absolute;
    z-index: 1;
    margin-left: 200px;
    margin-top: 300px;
}
.famous1{
    position: absolute;
    z-index: 2;
    font-size: 35px;
    color: #ffffff;
    padding-right: 140px;
    margin-left: 240px;
    margin-top: 920px;
}


.shopline1{
    position: absolute;
    z-index: 2;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 140px;
    margin-left: 240px;
    margin-top: 989px;
}



.what{
    display: flex;
    margin-top: 100px;
} 



.frame{
    margin-left: 100px;
    margin-top: 1400px;
}


.like{
    margin-top: 100px;
    margin-left: 600px;
    padding-top: 5px;
    padding-left: 40px;
    background-color: #000;
    color: #ffffff;
    font-size: 30px;
    width: 250px;
    height: 50px;
}




.shoeses{
    width: 1510px;
}


.linke{
    margin-top: 20px;
    margin-left: 20px;
}
.linka{
    margin-top: 20px;
    margin-left: 20px;
}
.links{
    margin-top: 20px;
    margin-left: 20px;
}
.linki{
    margin-top: 20px;
    margin-left: 20px;
}







.friend{
    margin-top: 200px;
    margin-left: 240px;
}

.nice{
    display: flex;
}

.nike{
    margin-left: 50px;
}
.free{
    margin-left: 140px;
}.free1{
    margin-left: 145px;
}






.enfo{
    display: flex;
    /* margin-left: 900px;
    font-size: 10px; */
}
.soka{
    margin-top: 10px;
}
.china{
    background-color: #000;
    color: #fff;
}
.china .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.us{
    margin-top: 10px;
    color: grey;
}
.a{
    margin-top: 30px;
}
.kredit{
    background-color: #000;
    margin-top: 50px;
    margin-left: 120px;
}
.n{
    /* display: flex; */
    color: grey;
    /* margin-top: 100px; */
}


.enfo ul {
    list-style: none;
}