.penguin{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 20px;
}
a{
    font-family:sans-serif;
    margin-left: 30px;
    color: black;
}
.home{
    margin-left: 500px;
}
.sign{
    margin-left: 200px;
    background-color: grey; 
    color: rgb(0, 0, 0);
    border: 1px solid grey;
    width: 70px;
    border-top-left-radius:15px ;
    border-bottom-right-radius: 15px;
}
.matn{
    width: 200px;
    margin-top: 150px;
}
.matn2{
    width: 200px;
}
.matn1{
    width: 350px;
}
.design{
    border: 2px solid blue;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    z-index: 2;
}
.border{
    border: 2px solid brown;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px; 
    margin-left: 40px;
    margin-top: 20px;
    width: 250px;
    height: 180px;
    position: absolute;
    z-index: 1;
}
.navbar{
    display: inline-block;
    margin-left: 50px;
}
.contact{
    width: 60px;
    background-color: grey; 
    color: rgb(0, 0, 0);
    border: 1px solid grey;
    border-top-left-radius:15px ;
    border-bottom-right-radiu—ã