*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.navbar{
    display:flex;
}


.mr{
    margin-left: 10px;
    margin-top: 10px;
}
.mr1{
    height: 24px;
}



img{
    margin-left: 10px;
    margin-top: 10px;
}


h3{
    margin-left: 10px;
}



.photo{
    display: flex;
}






.nav{
    margin-left: 20px;
}
.nav1{
    margin-left: 20px;
}
.nav2{
    margin-left: 20px;
}





.shop{
    background-color: #A259FF;
}
.person{
    background-color: #ffffff;
}
span{
    color: white;
    background-color: #A259FF;
    width: 100px;
    height: 35px;
    margin-left: 30px;
    padding-top: 7px;
    padding-left: 30px;
    border-radius: 10px;
}


h1{
    margin-left: 30px;
}
h3{
    margin-left: 30px;
}
h5{
    margin-top: 5px;
    margin-left: 40px;
}
.market{
    margin-left: 800px;
}
.subject{
    display: flex;
}
.trent{
    margin-top: 20px;
    margin-left: 30px;
}

.art{
    margin-top: 20px;
}



.rocket{
    background-color: #A259FF;
    color: white;
    height: 20px;
    width: 20px;
}





.keep{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 75px;
    font-size: 20px;
}
.keep1{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 80px;
    font-size: 20px;
}
.keep2{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 65px;
    font-size: 20px;
}
.keep3{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 80px;
    font-size: 20px;
}
.keep4{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 65px;
    font-size: 20px;
}
.keep5{
    color: white;
    width: 30px;
    padding-top: 20px;
    padding-left: 90px;
    font-size: 20px;
}
.total{
    font-size: 15px;
    color: rgb(156, 155, 155);
    width: 80px;
    padding-top: 21px;
}

.ETH{
    color: rgb(226, 226, 226);
    font-size: 17px;
    width: 80px;
    padding-top: 20px;
}

.pen{
    display: flex;
    padding-left: 30px;
}


.sub{
    display: flex;
    margin-top: 20px;
}
.sub1{
    display: flex;
    margin-top: 20px;
}
.sub2{
    display: flex;
    margin-top: 20px;
}



.top1{
    margin-top: 20px;
    margin-left: 30px;
}

.n1{
    background-color: rgb(101, 101, 101);
    width: 240px;
    height: 240px;
    margin-left: 30px;
    border-radius: 10px;
}

.Avatar{
    padding-left: 50px;
    padding-top: 10px;
}


.pineapple{
    display: flex;
}

.number{
    background-color: grey;
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    z-index: 1;
}
.number1{
    padding-top: 12px;
    padding-left: 31px;
    font-size: 14px;
    position: absolute;
    z-index: 2;
}
.number2{
    padding-top: 12px;
    padding-left: 28px;
    font-size: 14px;
    position: absolute;
    z-index: 2;
}






.katta{
    font-size: 40px;
    margin-top: 60px;
}


.size{
    margin-top: 0%;
    margin-left: 0%;
    
}


.miner{
    margin-top: 30px;
    margin-left: 20px;
    background-color: grey;
    margin-left: 30px;
    width: 240px;
    height: 320px;
    
    border-radius: 20px;
}


.world{
    display: flex;
}
.world2{
    display: flex;
}

.nice{
    display: flex;
    margin-top: 20px;
}
.nice1{
    padding-top: 10px;
    margin-left: 700px;
    display: flex;
    border: 3px solid #573881;
    border-radius: 8px;
    width: 150px;
    height: 50px;
}
.eye{
    margin-top: 0%;
    width: 24px;
    height: 24px;
}

.nicco{
    margin-top: 20px;
}

.see{
    margin-top: 0%;
    padding-left: 30px;
    font-size: 20px;
}


.avash{
    width: 24px;
    width: 24px;
    padding-top: 0%;
}

.birga{
    display: flex;
}

.moon{
    margin-top: 0%;
    margin-left: 0%;
}

.nike{
    margin-left: 30px;
    background-color: grey;
    width: 330px;
    border-radius: 20px;
}
.inline{
    display: flex;
}