*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.start-1{
    display: flex;
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 80px;
    position: fixed;
}
.noiceland{
    margin-left: 100px;
    margin-top: 23px;
    color: rgb(49, 49, 49);
}
.home{
    margin-top: 23px;
    margin-left: 975px;
}
.home1{
    margin-left: 15px;
    margin-top: 23px;
}



.start-2{
    display: flex;
}
.moun{
    margin-left: 30px;
    margin-top: 100px;
    font-size: 43px;
}
.mountain{
    margin-left: 25px;
    margin-top: 35px;
}
.moun1{
    margin-left: 15px;
    margin-top: 10px;
    color: rgb(82, 81, 81);
}
.moun2{
    margin-left: 15px;
    margin-top: 20px;
}



.start-3{
    display: flex;
    margin-left: 15px;
}
.start-4{
    display: flex;
    margin-left: 15px;
}
.town{
    margin-left: 15px;
    margin-top: 15px;
    width: 480px;
}
.photo-text{
    margin-left: 25px;
}
.photo-text2{
    width: 470px;
    margin-left: 25px;
    margin-top: 20px;
}



.start-5{
    display: flex;
    margin-left: 15px;
    margin-top: 300px;
}
.town2{
    margin-left: 15px;
    margin-top: 15px;
    width: 355.2px;
}
.photo-text3{
    width: 345px;
    margin-left: 25px;
    margin-top: 20px;
}

.all{
    background-color: black;
    color: white;
    margin-left: 650px;
    padding: 20px;
    margin-bottom: 4rem;
}



.start-6{
    display: flex;
}
.featured{
    margin-left: 140px;
}
.featured4{
    margin-left: 140px;
    margin-top: 50px;
}
.photo-text1{
    margin-left: 155px;
}
.photo-text4{
    margin-left: 155px;
    width: 600px;
}



.start-7{
    display: flex;
}
.featured1{
    margin-top: 50px;
    margin-right: 140px;
}
.photo-text5{
    margin-left: 15px;
}
.photo-text6{
    margin-left: 15px;
    width: 570px;
}


.start-8{
    background-color: black;
    height: 650px;
}
.text{
    color:white;
    margin-left: 77px;
    margin-bottom: 25px;
    padding-top: 20px;
}
.text-red-50 {
    --tw-text-opacity: 1;
    color: rgb(254 242 242 / var(--tw-text-opacity, 1));
    display: flex;
    flex-direction: column;
}
a{
    color: inherit;
    text-decoration: inherit;
    padding-top: 5px;
    font-size: 17px;
    margin-left: 125px;
}
.in{
    color: inherit;
    text-decoration: inherit;
    width: 20px;
    padding-top: 5px;
    margin-left: 125px;
}