*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mir{
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./img/joy_stick\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 800px;
}



.start-1{
    padding-top: 30px;
    padding-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}
.logo{
    color: #fff;
}
.about{
    margin-left: 50px;
}
a{
    color: #fff;
    margin-left: 90px;
    width: 90px;
    text-decoration: none;
}
.home{
    color: #fff;
    margin-left: 600px;
}
.contact{
    Width:131.77px;
    Height:41.34px;
    Top:44px;
    margin-left: 0px;
    border-radius: 6px;
    background-color: rgba(232, 125, 14, 1);
}



.start-2{
    display: flex;
}
.treed{
    color: rgba(232, 125, 14, 1);
    margin-left: 140px;
    margin-top: 150px;
}
.work-text{
    width: 300px;
    font-size: 40px;
    margin-left: 140px;
    margin-top: 20px;
}
.text-p{
    width: 420px;
    margin-left: 140px;
    margin-top: 20px;
}
.get{
    width: 170px;
    height: 53px;
    border-radius: 40px;
    background-color:rgba(232, 125, 14, 1);
    color: #fff;
    margin-left: 140px;
    margin-top: 30px;
    margin-bottom: 140px;
}
.un{
    margin-top: 350px;
    margin-left: 100px;
}
.cry{
    margin-top: 120px;
    margin-left: 100px; 
}
.ur{
    margin-top: 130px;
    margin-left: 250px;
}



.start-3{
    display: flex;
}
.text-trend{
    display: flex;
}
.trend{
    margin-left: 140px;
    margin-top: 150px;
}
.see{
    margin: 150px;
    margin-left: 650px;
    border-radius: 10px;
    width: 139px;
    height: 57px;
    background-color: rgba(255, 255, 255, 0.11);
    color:white;
}
.photos{
    margin-left: 140px;
}
.photos1{
    margin-left: 60px;
}
.follower{
    margin-left: 35px;
    margin-top: 30px;
}



.lorem{
    width: 790px;
    text-align: center;
    margin-left: 350px;
    margin-top: 200px;
    font-size: 40px;
}
.lorem1{
    margin-top: 100px;
    margin-left: 140px;
}
.lorem2{
    margin-top: 50px;
    width: 450px;
    font-size: 15px;
    margin-left: 140px;
}
.nuqta{
    margin-left: 972px;
    position: absolute;
    z-index: 1;
}
.odam{
    position: relative;
    margin-top: 65px;
    margin-left: 140px;
    z-index: 2;
}



.start-5{
    margin-top: 200px;
    background-image: url(./img/Rectangle\ 5.png);
    margin-left: 40px;
}
.lorem10{
    text-align: center;
    margin-left: 400px;
    width:800px;
}
.lorem11{
    width: 800px;
    text-align: center;
    margin-left: 400px;
    margin-top: 50px;
}

.mobile10{
    display: flex;
}
.mobile{
    margin-left: 200px;
}
.mobile1{
    margin-top: 20px;
    margin-left: 0px;
    width: 200px;
}
.mobile2{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}
.mobile3{
    margin-left: 100px;
}
.mobile11{
    display: flex;
}
.mobile4{
    margin-left: 500px;
}


.phone{
    margin-top: 100px;
    margin-left: 70px;
}
.arrow{
    margin-top: 20px;
    margin-left: 90px;
}



.our{
    margin-left: 600px;
    margin-top: 200px;
}
.our1{
    text-align: center;
    margin-left: 500px;
    width: 500px;
    margin-top: 50px;
}

.game-our{
    margin-top: 100px;
}
.game-our1{
    margin-top: 50px;
}
.gameclub{
    margin-left: 140px;
}
.gameclub1{
    margin-left: 60px;
}

.SEE{
    margin-top: 100px;
    margin-left: 700px;
    width: 139px;
    height: 57px;
    border-radius: 10px;
}



.start-7{
    background-image: linear-gradient(black,rgba(74, 40, 0, 1));
    padding-bottom: 200px;
}
.lik{
    display: flex;
    margin-top: 100px;
    margin-left: 140px;
    background-color: rgba(28, 20, 15, 1);
    border-radius: 15px;
    width: 1250px;
}
.lore{
    width: 1000px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.lore1{
    padding-top: 30px;
    margin-left: 50px;
}
.cont{
    position: relative;
    z-index: 2;
    background-color: rgba(220, 112, 0, 1);
    width: 105px;
    height: 37px;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 65px;
}
.enter{
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 385px;
    height: 48px;
    border-radius: 8px;
    margin-left: 800px;
    margin-top: 60px;
}


.start-8{
    display: flex;
}
.logo1{
    margin-top: 100px;
    margin-left: 100px;
}
.logo2{
    margin-left: 100px;
    margin-top: 50px;
    width: 300px;
}
.logo3{
    margin-left: 100px;
    margin-top: 50px;
}



.about-us{
    margin-top: 100px;
    margin-left: 150px;
}
h3{
    margin-top: 20px;
    margin-left: 150px;
}
.zeux{
    margin-top: 30px;
}
.contact-us{
    margin-left: 150px;
    margin-top: 100px;
}
.contact-us1{
    margin-top: 30px;
    margin-left: 150px;
    width: 330px;
}
.num{
    margin-top: 60px;
}
.group{
    margin-top: 270px;
    margin-left: 50px;
}



.line{
    margin-left: 40px;
    margin-top: 50px;
}
h4{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.zxc{
    background-color: #000;
    color: #000;
}