*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.xizmat{
    font-size: 50px;
    margin-left: 700px;
    margin-top: 100px;
}
.lorem{
    font-size: 20px;
    width: 780px;
    margin-left: 400px;
}

body {
    transition: 1s ease-in-out;
}

.body_dark{
    background-color: #000;
    transition: 1s ease-in-out;
}
.dark_mode {
    margin-top: 10px;
    margin-left: 95%;
    width: 40px;
    height: 40px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQowtTfJDP3Jo_3-oGK4LeNslDPu5umRc_1g&s");
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 1s ease-in-out;
}
.light_mode {
    background-image: url("https://cdn2.iconfinder.com/data/icons/ui-minimalist-0-1-1/16/UI_Web_Moon_Night_Night_Mode_Dark-512.png");
    transition: 1s ease-in-out;
}
.nav_dark {
    background-color: black;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.74) 0px 3px 8px;
    transition: 1s ease-in-out;
}
.button_dark {
    background-color: white;
    color: #000;
}   


nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 1s ease-in-out;
}
.nav2{
    display: flex;
    margin-left: 230px;
}
.navbar{
    margin-left: 120px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 350px;
    height: 300px;
    margin-top: 100px;
    background-image: url(https://oqila.uz/wp-content/uploads/2021/05/smm-haqida.jpg);
}
.web{
    width: 350px;
}
.w{
    margin-left: 80px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.lor{
    margin-left: 120px;
}