ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


ol{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


li{
    width: 200px;
    height: 300px;
}